@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

.page-footer {
    padding-top: 10px;
    background-color: #c36366;
}

.links {
    text-align: center;
}
.soc-links {
    text-align: center;
}

ul li {
    display: inline;
}
.links li {
    margin: 0px 10px;
    text-transform: uppercase;
}
.soc-links li {
    margin: 0px 10px;
}
.soc-links li img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}
a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
}
a:hover {
    color: #34bfb4;
}