<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col m6 links">
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">contact us</a></li>
          <li><a href="#">gallery</a></li>
        </ul>
      </div>
      <div class="col m6 soc-links">
        <ul>
          <li><img src="../../assets/icon-inst.png"></li>
          <li><img src="../../assets/icon-link.png"></li>
          <li><img src="../../assets/icon-teleg.png"></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018
      <a class="grey-text text-lighten-4 right" href="#!">Design by: Yan Yan</a>
    </div>
  </div>
</footer>