<h1>Lorem Ipsum & Dolor</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi pariatur, nam quisquam doloribus, facere labore cupiditate
  illum tempora ab sit, ex eum. Vero veritatis distinctio veniam omnis aliquid ducimus quasi. Lorem ipsum, dolor sit amet
  consectetur adipisicing elit. Sunt deserunt aliquam, numquam officia et ea unde? Magnam pariatur nisi reprehenderit eveniet
  perspiciatis, explicabo, dolor ipsa qui quam cupiditate earum vitae! Lorem, ipsum dolor sit amet consectetur adipisicing
  elit. Culpa, quas ab officia beatae, reprehenderit inventore obcaecati tempore corrupti nobis at eius optio! Doloribus
  eius ab ea! Praesentium voluptate cum quo! </p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt deserunt aliquam, numquam officia et ea unde? Magnam pariatur
  nisi reprehenderit eveniet perspiciatis, explicabo, dolor ipsa qui quam cupiditate earum vitae!</p>
<div class="button">
  <a routerLink="/authorization" class="waves-effect waves-light btn">Get started</a>
</div>